body{
  font-family: 'Roboto';
  font-size: 22px;
  background-color: blueviolet;
}
.container{
  block-size: 100%;
  align-items: center;
  padding: 25px;
}
header{
 display: flex;
 justify-content: center;
 align-items: center;
}
.welcome{
  display: flex;
 justify-content: center;
 align-items: center;
 font-size: 40px;
}
.intro{
  display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.section2{
  box-sizing: border-box;
  display: flex;
  align-content: center ;
  justify-content: center;
 
margin: 0;
}
.cotainer2{

  background-color:#fff;
  border-radius: 5px;
  box-shadow: 0 0 0 5;
  width: 400px;
  max-width: 100%;
 
}
.formh{
  padding: 20px 40px;
}
form{
  padding: 20px 40px;
}
.formcontrol{
margin: 10px;
padding-bottom: 20px;
position: relative;
}
.formcontrol label{
 display: inline-block;
 margin-bottom: 5px;
 
}

