body{
  font-family: 'Roboto';
  font-size: 22px;
}
.container{
  block-size: 100%;
  align-items: center;
  padding: 25px;
}
header{
 display: flex;
 justify-content: center;
 align-items: center;
}
.welcome{
  display: flex;
 justify-content: center;
 align-items: center;
 font-size: 40px;
}
.intro{
  display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
